@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scroll-behavior: smooth;
  }

  ::placeholder {
    opacity: 0.5;
  }
  input::-webkit-input-placeholder {
    opacity: 0.5;
  }
  textarea::-webkit-input-placeholder {
    opacity: 0.5;
  }
  .h-with-nav {
    max-height: calc(100% - 52px);
    height: calc(100% - 52px);
    margin-top: 52px;
  }
  .error-msg {
    @apply font-serif text-xs;
  }
  .btn {
    @apply rounded  px-2 py-1 md:px-4 md:py-2 text-xs uppercase font-medium;
  }
  .btn-outline {
    @apply border;
    background-color: rgba(255, 255, 255, 0.15);
    transition: backdrop-filter 0.3s ease-in;
    backdrop-filter: blur(10px);
  }
  button:focus {
    box-shadow: none;
    outline: none;
  }
  .outline-title {
    @apply uppercase;
    @apply font-medium;
    color: currentColor;
    -webkit-text-fill-color: transparent !important; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: currentColor;
    transition: all 0.3s ease;
  }
  .outline-title:hover {
    -webkit-text-fill-color: currentColor !important; /* Will override color (regardless of order) */
  }
  .bg-image {
    @apply bg-center;
    @apply bg-cover;
    @apply bg-no-repeat;
  }
  .tag {
    @apply w-max;
    @apply py-0.5;
    @apply md:py-1;
    @apply px-2;
    @apply md:px-3;
    @apply rounded-full;
    @apply self-end;
    @apply uppercase;
    @apply font-medium;
    @apply md:mr-2;
    @apply mb-2;
  }
  .scrolling-touch {
    -webkit-overflow-scrolling: touch;
  }
  .scrolling-auto {
    -webkit-overflow-scrolling: auto;
  }
  .hover-interaction {
    @apply transform;
    @apply transition;
    @apply hover:shadow-lg;
    @apply hover:-translate-y-0.5;
  }
}
/* BG GLASS */
.bg-glass {
  box-shadow: 0 10px 8px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.15);
  transition: backdrop-filter 0.3s ease-in;
  backdrop-filter: blur(10px);
}
@media only screen and (min-width: 768px) {
  .md-bg-glass {
    box-shadow: 0 10px 8px 0px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.15);
    transition: backdrop-filter 0.3s ease-in;
    backdrop-filter: blur(10px);
  }
}
/* STORY HEADER GRID */
.grid-item-date {
  grid-area: date;
}
.grid-item-img {
  grid-area: img;
}
.grid-item-categories {
  grid-area: categories;
}
.grid-item-titles {
  grid-area: titles;
}
.story-header-grid {
  display: grid;
  grid-template-columns: 1fr 38rem 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    'img img img'
    'date titles categories';
}
@media only screen and (max-width: 1024px) {
  .story-header-grid {
    grid-template-columns: max-content 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      'date categories categories'
      'img img img'
      'titles titles titles';
  }
}

/* REACT-SELECT OVERWRITE */
.react-select-container {
  border: none;
  border-bottom: 1px solid;
  border-color: inherit;
}
.react-select__control {
  background-color: transparent !important;
  border: none !important;
}
.react-select__placeholder {
  opacity: 0.3;
  color: inherit !important;
}
.react-select__control--is-focused {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}
.react-select__menu,
.react-select__menu-list {
  overflow-x: hidden !important;
}
.react-select__dropdown-indicator {
  color: inherit !important;
}
.react-select__indicator-separator {
  display: none !important;
}
.react-select__option {
  cursor: pointer !important;
}
.react-select__option--is-focused {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.react-select__option--is-selected {
  color: currentColor !important;
  transform: skew(-10deg);
  opacity: 0.5;
}

/* SCROLLBAR-HIDE */
.scrollbar-hide {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}

/* STYLED SCROLLBAR */
.styled-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.15);
}
.styled-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.styled-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.15);
}
.styled-scrollbar::-webkit-scrollbar-thumb {
  background-color: currentColor;
  border-radius: 999px;
}

/* HORIZONTAL SCROLL TOUCH MOBILE PATCH */
@media (hover: none), (pointer: coarse), (-moz-touch-enabled: 1) {
  .scroll-horizontal {
    overflow: scroll !important;
    overflow: overlay !important;
    overflow-x: scroll !important;
    overflow-x: overlay !important;
    overflow-y: hidden !important;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
  }
  .scroll-horizontal > div {
    transform: none !important;
    position: relative;
  }

  .scroll-horizontal::-webkit-scrollbar {
    display: none !important;
  }
}

/* SPINNER */

.loader {
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
